<header>
  <div class="logo">[ecotone]</div>

  <div class="burger" onclick="toggleMenu()">
    <div></div>
    <div></div>
    <div></div>
  </div>

  <nav class="nav" id="navMenu">
    <a href="{{ '/' | relative_url }}">home</a>
    <a href="{{ '/about.html' | relative_url }}">about us</a>
    <a href="{{ '/contact.html' | relative_url }}">contact</a>
  </nav>
</header>

<script>
  function toggleMenu() {
    const nav = document.getElementById("navMenu");
    nav.classList.toggle("active");
  }
</script>
